body {
position:relative;
}
h1 {
  color: blue;
}
p {
  color: red;
}

.margin{
  display: inline-block;
}

.div1
{
    background-color: #929292;
  position: relative;
  top:100px;

box-sizing:border-box;
  height:174px;
  width:430px;
  border:2px solid black;
}
.div2
{
  position:absolute;
  font-family:sans-serif;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 10px;

    margin:5px;
  text-align: left;

top:50px;

}

.div3
{

font-size: 20px;
  background-color:#Ffb8c6;
    border:2px solid black;
    margin:-2px;
    height:25px;
    width:150px;
    text-align: center;
text-decoration: bold;
    float:right;
}
.ndiv1
{
    background-color: #929292;
  position: absolute;
    top:158px;
  left:888px;

  height:170px;
  width:426px;
  border:2px solid black;
}
.ndiv3
{

font-size: 20px;
  background-color:#Ffef9a;
    border:2px solid black;
    margin:-2px;
    height:25px;
    width:150px;
    text-align: center;
text-decoration: bold;
    float:right;
}

.mdiv1
{

    background-color: #929292;
  position: absolute;
  top:158px;
    left:443px;
float:center;
margin:1px;
  height:170px;
  width:426px;
  border:2px solid black;
}
.mdiv3
{

font-size: 20px;
  background-color:#C82018;
  color:white;
    border:2px solid black;
    margin:-2px;
    height:25px;
    width:150px;
    text-align: center;
text-decoration: bold;
    float:right;
}

@media (min-width:768px) and (max-width:991px){
  .ndiv1{
     top:340px;
    left:0px;
     width:872px
  }
}

@media (min-width:0px)and (max-width:767px){


  .mdiv1{
    top:340px;
    left:-1px;

  }
  .ndiv1{
     top:525px;
     left:-1px;

  }
}
